<!DOCTYPE html>
<html>

<head>
<%- include ("../partials/head") %>
</head>

<body>
<%- include ("../partials/header") %>
    <h2>Error</h2>
    Something went wrong!<br>
    Please check the thirdkind message:<br><br>
<code>
<%= message %>
</code>
<br>

<form action="/uploadPreferences"
  enctype="multipart/form-data" method="POST">
    <input  name="uploaded1" value="<%= path1 %>"/> <br>
    <input  name="uploaded2" value="<%= path2 %>"/> <br>
    <input type="checkbox" id="freeliving" name="freeliving">
    <label for="freeliving">Check this box to use the 'free living' option</label>
    <br>
    <input type="submit" value="Try again">
</form>
<br>
<br>
Or try with  <a href ="/">another input file</a>
</body>

</html>
